<h1>Welcome to the Bug Zapper!</h1>

<h3>Our Mission:</h3>

<p>Provide a resource for programmers to seek assistance for coding issues, and bugs from other programers.  Please feel free to look around!</p>

<p>We value everyones participation.  If you know the answer to a question; please post a response.</p>
