<div class="row">
<div class="col-md-6">
<h1>Questions:</h1>
<ul id="cool">
  {{#each model.questions as |question|}}
  <li>{{#link-to 'question' question.id}}
  {{question.author}} asked: <br> {{question.message}}
  {{/link-to}}</li>
  {{/each}}
</ul>
</div>
<div class="col-md-6">
  <h1>Submit A New Question</h1>
{{new-question save="save"}}
</div>
</div>
